
/*-------------------------------------------------------------------------------------------*\
	Layouts - Full Width
\*-------------------------------------------------------------------------------------------*/

body.full-width,
body.full-width #inner-wrapper {
	padding: 0;
}

body.full-width #wrapper {
	padding: 0;
	min-width: 100% !important;
	width: 100%;
}

body.full-width #top {
	padding: 0;
	margin: 0;
}

body.full-width .nav-toggle {
	margin: 0;
}

#nav-container {
	background: #f0f0f0;
	margin: 0;
}

#nav-container::after {
	clear: both;
	content: "";
	display: table;
}

#nav-container #navigation {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}

	#nav-container #navigation ul#main-nav > li:first-child {
	}

@media only screen and (min-width: 768px) {

	#nav-container {
		margin: 0 0 3em 0;
	}

}
