/* Icon Font */
@font-face {
  font-family: "framework";
  src: url('../fonts/framework.eot');
  src: url('../fonts/framework.eot?#iefix') format('embedded-opentype'), url('../fonts/framework.woff') format('woff'), url('../fonts/framework.ttf') format('truetype'), url('../fonts/framework.svg#framework') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Menu Icons */
#adminmenu #toplevel_page_sf .menu-icon-generic div.wp-menu-image:before {
  font-family: "framework" !important;
  content: "\e601";
  font-size: 1.3em !important;
}
