
/* Navigation */
#navigation {
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  left: -80%;
  position: absolute;
  top: 0;
  min-height: 100%;
  z-index: 9;
  padding-top: 4.236em;
  font: 300 14px/1.2 "Helvetica Neue", sans-serif;
  background: #f0f0f0;
  display: none; }
  #navigation .menus {
    clear: both; }
  #navigation h3 {
    font-size: 1em;
    padding: .5em 1em; }
  #navigation ul {
    margin-bottom: 1.618em; }
    #navigation ul ul {
		margin: 0 0 0 1.618em; }
  #navigation .nav-home,
  #navigation .nav-close,
  #navigation ul.rss li a,
  #navigation ul.cart a.cart-contents,
  #navigation ul.nav-search a.search-contents {
    height: 1em;
    width: 1em;
    text-indent: -999px;
    display: block;
    font-size: 1em;
    padding: .5em;
    position: absolute;
    top: 1em;
    left: 1em;
    background: #999;
    color: #fff;
    border-radius: 3px; }
    #navigation .nav-home:before,
    #navigation .nav-close:before,
    #navigation ul.rss li a:before,
    #navigation ul.cart a.cart-contents:before,
    #navigation ul.nav-search a.search-contents:before {
      font-family: "FontAwesome";
      content: "\f00d";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      text-indent: 0;
      line-height: 2; }
  #navigation .nav-home {
    left: auto;
    right: 1em; }
    #navigation .nav-home:before {
      content: "\f015"; }
  #navigation ul.rss {
    margin-right: 50px;
    margin-bottom: 0;
    margin-top: -45px;
    float: right; }
    #navigation ul.rss::after {
      clear: both;
      content: "";
      display: table; }
    #navigation ul.rss li {
      float: left; }
      #navigation ul.rss li a {
        position: relative;
        top: 0;
        left: 0;
        margin-left: .5em; }
      #navigation ul.rss li.sub-email a:before {
        content: "\f003"; }
      #navigation ul.rss li.sub-rss a:before {
        content: "\f09e"; }
  #navigation ul.cart a.cart-contents {
    left: auto;
    right: 3.5em;
    display: inline-block; }
    #navigation ul.cart a.cart-contents:before {
      content: "\f07a"; }
    #navigation ul.cart a.cart-contents + ul {
      display: none; }
  #navigation ul.nav-search {
    clear: both; }
    #navigation ul.nav-search::after {
      clear: both;
      content: "";
      display: table; }
    #navigation ul.nav-search #searchform,
    #navigation ul.nav-search .searchform {
      background: #e6e6e6;
      position: relative;
      border: 0; }
      #navigation ul.nav-search #searchform input#s,
      #navigation ul.nav-search #searchform input.s,
      #navigation ul.nav-search .searchform input#s,
      #navigation ul.nav-search .searchform input.s {
        border: 0;
        box-sizing: border-box;
        padding: 1.414em 2.99em 1.414em 1.414em;
        width: 100%; }
      #navigation ul.nav-search #searchform .submit,
      #navigation ul.nav-search .searchform .submit {
        background: none;
        position: absolute;
        right: 0;
        top: 1.25em;
        padding: 0 1em;
        border: 0; }
        #navigation ul.nav-search #searchform .submit:before,
        #navigation ul.nav-search .searchform .submit:before {
          color: #555;
          font-size: 1em; }
    #navigation ul.nav-search ul {
      margin: 0 1em; }

.show-nav #navigation {
  display: block; }
  .show-nav #navigation .top-navigation {
    display: block; }
.show-nav #inner-wrapper {
  left: 80%; }

ul.nav {
  width: 100%; }

ul.nav li a {
  padding: .5em 1em;
  display: block;
  color: #666; }

ul.nav li.current_page_item a,
ul.nav li.current_page_parent a,
ul.nav li.current-menu-ancestor a,
ul.nav li.current-cat a,
ul.nav li.current-menu-item a {
  background: #e6e6e6;
  color: #3088ff; }

ul.nav li ul li a {
  background: none !important;
  color: #666 !important; }

ul.nav ul li.current_page_item a,
ul.nav ul li.current_page_parent a,
ul.nav ul li.current-menu-ancestor a,
ul.nav ul li.current-cat a,
ul.nav ul li.current-menu-item a,
#navigation ul.cart .cart_list a {
  color: #3088ff; }

/* Nav Toggle */
.nav-toggle:before {
  content: "\f0c9";
  font-family: "FontAwesome";
  font-weight: normal;
  color: #fff;
  margin-left: 0.5em;
  text-shadow: 0 1px 0 #000;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: inline-block;
  padding: 0.8em 1em 0.8em 0.5em; }

.nav-toggle {
  margin: 0;
  cursor: pointer;
  text-align: left;
  display: block;
  padding: 0;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.65);
  background-image: -webkit-linear-gradient(left top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(to right bottom,rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.8));
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.nav-toggle a {
  color: #fff !important;
  text-shadow: 0 1px 0 #000;
  padding: 0.5em 1em;
  border-left: 1px solid rgba(0, 0, 0, 0.1); }

.nav-toggle a:hover {
  color: #fff;
  text-decoration: none; }

#top select {
  margin: 1.618em 0 0;
  width: 100%; }

#top {
  display: none;
  font-weight: 400; }

@media only screen and (max-width: 767px) {
  #navigation ul.nav ul.children {
    margin-left: 1.5em; }

  #navigation {
    font-weight: 400; }
    #navigation ul.rss {
      right: 49px;
      float: none;
      margin: 0;
      position: absolute;
      top: 14px; }
      #navigation ul.rss::after {
        clear: both;
        content: "";
        display: table; }
      #navigation ul.rss.cart-enabled {
        right: 84px;
        margin: 0; }

  #nav-container {
    border-width: 0 !important; }

  ul.nav, ul.nav ul {
    border: none !important; }

  #navigation ul.nav > li {
    border-right: none !important; }

	.csstransforms3d.csstransitions #navigation {
		left: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		-ms-transform: translate3d(-100%, 0, 0);
		-o-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}

}

/* Tablet Portrait size and sizes above 768 (devices and browsers) */
@media only screen and (min-width: 768px) {
  /* 1. GLOBAL DROPDOWN STYLES (these are purely for the dropdown layout and you should only edit the width of the dropdowns) */
  ul.nav {
    position: relative;
    margin-bottom: 0;
    width: auto;
    margin-right: 1em; }

  ul.nav li {
    position: relative;
    float: left;
    zoom: 1;
    list-style: none; }

  ul.nav li a {
    display: block;
    padding-top: 1em !important;
    padding-bottom: 1em !important; }

  ul.nav li a:hover {
    text-decoration: none; }

  ul.nav li ul li a:hover {
    text-decoration: underline; }

  ul.nav ul {
    width: 12em;
    visibility: hidden;
    display: none;
    position: absolute;
    top: 100%;
    left: -9999em;
    z-index: 10;
    margin: 0;
    padding: 0.4em 0; }

  ul.nav ul li {
    float: none; }

  ul.nav ul li a {
    width: 100%;
    display: inline-block;
    padding: 0.7em 1em !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.9em; }

  ul.nav ul ul {
    left: 100%;
    top: 0; }

  ul.nav li:hover > ul {
    visibility: visible;
    display: block;
    left: 0; }

  /* 2. TOP NAVIGATION (Add top navigation presentational styles here) */
  #top {
    background: #000; }
    #top h3 {
      display: none; }

  #top {
    display: block !important; }

  #top ul.nav li a {
    color: #ddd;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    font-size: 1em; }

  #top ul.nav > li a:hover {
    background: #555;
    color: #ddd; }

  #top ul.nav > li:hover {
    background: #555;
    color: #ddd; }

  #top ul.nav ul {
    background: #555; }

  #top ul.nav ul li a {
    color: #ddd !important; }

  #top ul.nav li.current_page_item a,
  #top ul.nav li.current_page_parent a,
  #top ul.nav li.current-menu-ancestor a,
  #top ul.nav li.current-cat a,
  #top ul.nav li.current-menu-item a {
    color: #333;
    background: #fff; }

  /* 3. MAIN NAVIGATION DROPDOWN MENUS (Add main navigation presentational styles here) */
  #navigation .top-navigation {
    display: none !important; }

  .csstransforms3d.csstransitions #navigation, .csstransforms3d.csstransitions .show-nav #navigation, .csstransforms3d.csstransitions .show-nav #inner-wrapper {
    left: 0;
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0); }

  .nav-toggle, .nav-close, .nav-home {
    display: none !important; }

  #navigation {
    position: relative;
    left: auto;
    width: 100%;
    border: none;
    padding-top: 0;
    background: #f0f0f0;
    border-radius: 2px;
    display: block !important; }
    #navigation h3 {
      display: none; }
    #navigation .menus {
      position: relative;
      clear: none; }
      #navigation .menus.nav-icons::after {
        clear: both;
        content: "";
        display: table; }
      #navigation .menus.nav-icons .side-nav {
        position: absolute;
        top: 0;
        right: 0; }
      #navigation .menus.nav-icons-1 #main-nav {
        margin-right: 3em; }
      #navigation .menus.nav-icons-1 .side-nav {
        width: 3em; }
      #navigation .menus.nav-icons-2 #main-nav {
        margin-right: 6em; }
      #navigation .menus.nav-icons-2 .side-nav {
        width: 6em; }
      #navigation .menus.nav-icons-3 #main-nav {
        margin-right: 9em; }
      #navigation .menus.nav-icons-3 .side-nav {
        width: 9em; }
      #navigation .menus.nav-icons-4 #main-nav {
        margin-right: 12em; }
      #navigation .menus.nav-icons-4 .side-nav {
        width: 12em; }
    #navigation ul.rss {
      margin: 0; }
      #navigation ul.rss li a {
        background: none;
        color: #666;
        padding: 1em;
        margin: 0; }
        #navigation ul.rss li a:before {
          line-height: 3.2; }
        #navigation ul.rss li a:hover {
          color: #222; }
    #navigation ul {
      margin-bottom: 0;
	  text-shadow: 0 2px 0 0px hsl(330, 100%, 25%), 0 3px 2px 0px hsla(330, 100%, 15%, 0.5);
	  }
      #navigation ul ul {
        margin-left: 0;
		width: auto;
		min-width: 180px;
		-webkit-box-shadow: 0 10px 10px -10px #000000;
		-moz-box-shadow: 0 10px 10px -10px #000000;
		box-shadow: 0 10px 10px -10px #000000;
		-o-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		white-space: nowrap;
		}

  #navigation ul.nav > li a:hover {
    background: #e6e6e6; }

  #navigation ul.nav > li:hover {
    background: #e6e6e6; }

  #navigation ul.nav ul {
    background: #e6e6e6; }

  #navigation ul.nav > li:hover > ul {
    left: -1px; }

  #navigation ul.nav ul ul {
    top: -5px;
    left: 100%; }

  #top .nav li.parent > a {
    position: relative; }

  #top .nav li.parent > a:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    color: inherit;
    font-size: .857em;
    margin-top: 6px;
    speak: none;
    width: 1.387em;
    display: inline-block;
    text-align: right; }

  #top .nav li ul li.parent > a:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    float: right;
    position: absolute;
    top: .53em;
    right: 1em;
    text-decoration: none; }

  #top .nav li ul li.parent > a {
    padding-right: 2.244em !important; }

  #top .nav ul ul {
    top: -.327em;
    left: 100%; }

  #navigation .nav li.parent > a {
    position: relative; }

  #navigation .nav li.parent > a:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    color: inherit;
    font-size: .857em;
    margin-top: 2px;
    speak: none;
    width: 1.387em;
    display: inline-block;
    text-align: right;
    line-height: 1; }

  #navigation .nav li ul li.parent > a {
    padding-right: 2.244em !important; }

  #navigation .nav li ul li.parent > a:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    float: right;
    position: absolute;
    top: 1em;
    right: 1em;
    text-decoration: none; }

  .full-width #navigation ul li:first-child, .full-width #navigation ul li:first-child a {
    border-radius: 0 !important; }

  #navigation ul.cart,
  #navigation ul.nav-search {
    position: relative; }
    #navigation ul.cart a.cart-contents,
    #navigation ul.cart a.search-contents,
    #navigation ul.nav-search a.cart-contents,
    #navigation ul.nav-search a.search-contents {
      padding: 1em;
      margin: 0;
      position: relative;
      top: 0;
      left: 0;
      background: none;
      color: #666;
      border-radius: 0;
      display: block;
      overflow: hidden; }
      #navigation ul.cart a.cart-contents:hover,
      #navigation ul.cart a.search-contents:hover,
      #navigation ul.nav-search a.cart-contents:hover,
      #navigation ul.nav-search a.search-contents:hover {
        text-decoration: none; }
      #navigation ul.cart a.cart-contents:before,
      #navigation ul.cart a.search-contents:before,
      #navigation ul.nav-search a.cart-contents:before,
      #navigation ul.nav-search a.search-contents:before {
        line-height: 1;
        position: static; }
      #navigation ul.cart a.cart-contents + ul,
      #navigation ul.cart a.search-contents + ul,
      #navigation ul.nav-search a.cart-contents + ul,
      #navigation ul.nav-search a.search-contents + ul {
        display: block;
        position: absolute;
        right: 0;
        top: 100%;
        visibility: hidden;
        width: 12em;
        background: #e6e6e6;
        padding: 1.414em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    #navigation ul.cart li:hover a.cart-contents,
    #navigation ul.cart li:hover a.search-contents,
    #navigation ul.nav-search li:hover a.cart-contents,
    #navigation ul.nav-search li:hover a.search-contents {
      background: #e6e6e6; }
      #navigation ul.cart li:hover a.cart-contents + ul,
      #navigation ul.cart li:hover a.search-contents + ul,
      #navigation ul.nav-search li:hover a.cart-contents + ul,
      #navigation ul.nav-search li:hover a.search-contents + ul {
        visibility: visible; }
    #navigation ul.cart .widget,
    #navigation ul.nav-search .widget {
      margin: 0; }
  #navigation ul.nav-search {
    clear: none;
    float: right; }
    #navigation ul.nav-search a.search-contents:before {
      content: "\f002"; }
    #navigation ul.nav-search a.search-contents + ul {
      margin: 0;
      padding: 0; }
    #navigation ul.nav-search #searchform,
    #navigation ul.nav-search .searchform {
      background: none; }
  #navigation ul.cart h2 {
    display: none; }
  #navigation ul.cart .buttons {
    margin-bottom: 0; }
  #navigation ul.cart .button {
    width: 100%;
    margin-bottom: .5em;
    font-size: .9em;
    border-radius: 0; }
    #navigation ul.cart .button.checkout {
      margin: 0; }
  #navigation ul.cart .total {
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-width: 2px 0;
    padding: .8em 0;
    text-align: right; }
  #navigation .cart-extended ul.cart a.cart-contents:before {
    height: 5em; }
}

/* Desktop size and sizes above 980 */
/* @media only screen and (min-width: 980px) { */
@media only screen and (min-width: 768px) {

	#navigation .cart-extended ul.cart a.cart-contents {
		display: inline-block;
		width: auto;
		text-indent: 0;
		overflow: visible;
	}
	#navigation .cart-extended ul.cart a.cart-contents:before {
		display: inline-block;
		margin-right: .5em;
		height: auto;
	}

	#navigation .menus.nav-icons-1.cart-extended #main-nav {
		margin-right: 15.5em;
	}
	#navigation .menus.nav-icons-1.cart-extended .side-nav {
		width: 15.5em;
	}
	#navigation .menus.nav-icons-2.cart-extended #main-nav {
		margin-right: 18.5em;
	}
	#navigation .menus.nav-icons-2.cart-extended .side-nav {
		width: 18.5em;
	}
	#navigation .menus.nav-icons-3.cart-extended #main-nav {
		margin-right: 21.5em;
	}
	#navigation .menus.nav-icons-3.cart-extended .side-nav {
		width: 21.5em;
	}
	#navigation .menus.nav-icons-4.cart-extended #main-nav {
		margin-right: 24.5em;
	}
	#navigation .menus.nav-icons-4.cart-extended .side-nav {
		width: 24.5em;
	}

}
